wheel
PyAutoGUI
PyGetWindow
PySimpleGUI
chromedriver_autoinstaller
clipboard
emoji
folium
helium
imutils
joblib
kaleido
keyboard
matplotlib
opencv_python
openpyxl
pandas
plotly
pytesseract
python_imageseach_drov0
scikit_image
seaborn
selenium
texthero
xlrd
zipcodes
sphinx
sphinx_rtd_theme